<head>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <script src="https://unpkg.com/@phosphor-icons/web"></script>
  <style>
    body {
      font-family: 'Poppins', sans-serif;
    }
  </style>
</head>
<body >
 <!-- Logo -->


 <div class="  w-full flex flex-col">
  <!-- Première barre de navigation -->
  <nav class="w-full bg-gradient-to-r from-teal-900 to-teal-700 text-white p-3 flex items-center justify-between">
    <!-- Onglets -->
    <div class="flex space-x-1 ml-20 items-center">
      <!-- Icône d'étoile blanche -->
      <i class="fas fa-star text-white w-6 h-4"></i>
      <p class=" text-white text-lg font-semibold">Roulez sereinement, vivez pleinement</p>
      <i class="fas fa-star text-white w-6 h-4"></i>
    </div>



    <!-- Recherche et Menu -->
    <div class="flex items-center mr-25 space-x-8">


        <!-- Menu déroulant -->
        <div class="relative group">
          <button [routerLink]="['/accueil', 'about']" class="font-semibold">
            Qui nous sommes ?
          </button>


        </div>

        <a [routerLink]="['/espace-client/login']" class="bg-teal-500 text-white font-bold px-4 py-2 rounded-lg">
          Connexion
        </a>


    </div>
</nav>
  <!-- Ligne de séparation entre les deux menus -->
  <div class="hidden  border-t  border-gray-300 mx-10"></div>
  <nav class="bg-gray-100 shadow-md p-4">
    <div class="container mx-auto flex items-center justify-between"> <!-- Ajustement avec justify-between pour espacer -->
      <!-- Logo -->
      <div class="flex items-center gap-4 cursor-pointer" [routerLink]="['/accueil']">
        <img src="\assets\images\logoFC.png" alt="STAR Assurances" class="h-20 w-auto" />
      </div>


    <!-- Menu -->
    <ul class="flex space-x-6 text-gray-500 mt-2">
      <!-- Menu Item: Assurance Vie Emprunteur -->


      <!-- Menu Item: Ma voiture -->
      <li class="relative group">
        <a href="#" class="text-teal-800 font-semibold hover:text-teal-600 transition-colors px-2 py-1 rounded">Ma voiture</a>

        <!-- Dropdown Menu for Ma voiture -->
        <div class="absolute left-0 mt-2 bg-white shadow-lg rounded-md opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-300 z-50">
          <div class="p-6 bg-white shadow-lg rounded-lg w-[750px]">
            <div class="flex items-center">
              <div class="flex-1 pr-6">
                <div class="flex items-center gap-2 mb-3">
                  <!-- Icône de voiture -->
                  <i class="fas fa-car w-6 h-6 text-teal-800"></i>
                  <h2 class="text-lg font-semibold text-teal-800">
                    <a [routerLink]="['/accueil/auto']" class="hover:underline">Nos produits</a>
                  </h2>
                </div>
                <p class="text-sm text-gray-600">La solution d'assurance auto idéale pour une sécurité optimale !</p>
              </div>

              <!-- Ligne verticale -->
              <div class="border-r-2 border-gray-300 h-24"></div>

              <!-- Section Démarches -->
              <div class="flex-1 px-6">
                <div class="flex items-center gap-2 mb-3">
                  <!-- Icône de voiture -->
                  <i class="fas fa-car-crash w-5 h-5 text-teal-800"></i>
                  <h2 class="text-lg font-semibold text-teal-800">Démarches</h2>
                </div>
                <p class="text-sm text-gray-600">Constat amiable d'accident automobile</p>
                <a href="#" class="text-teal-600 hover:text-teal-800 text-sm font-medium mt-2 inline-block">
                  En savoir plus
                  <i class="fas fa-chevron-right ml-1 text-xs"></i>
                </a>
              </div>

              <!-- Ligne verticale -->
              <div class="border-r-2 border-gray-300 h-24"></div>

              <!-- Section Devis - Améliorée et plus claire -->
              <div class="flex-1 pl-6">
                <div class="flex flex-col">
                  <div class="flex items-center gap-2 mb-3">
                    <!-- Icône de calculatrice -->
                    <i class="fas fa-calculator w-6 h-6 text-teal-800"></i>
                    <h2 class="text-lg font-semibold text-teal-800">Devis auto</h2>
                  </div>
                  <p class="text-sm text-gray-600 mb-3">Calculez le prix de votre assurance auto en quelques clics</p>
                  <a [routerLink]="['/contrat', 'devi']" class="bg-teal-600 hover:bg-teal-700 text-white font-medium px-4 py-2 rounded-md transition-colors inline-flex items-center justify-center">
                    <i class="fas fa-arrow-right mr-2"></i>
                    Demander un devis
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="relative group">
        <a href="#" class="text-teal-800 font-semibold hover:text-teal-600 transition-colors px-2 py-1 rounded">Assurance Emprunteur</a>

        <!-- Dropdown Menu for Assurance Vie Emprunteur -->
        <div class="absolute left-0 mt-2 bg-white shadow-lg rounded-md opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-300 z-50">
          <div class="p-6 bg-white shadow-lg rounded-lg w-[750px]">
            <div class="flex items-center">
              <div class="flex-1 pr-6">
                <div class="flex items-center gap-2 mb-3">
                  <!-- Icône de protection -->
                  <i class="fas fa-shield-alt w-6 h-6 text-teal-800"></i>
                  <h2 class="text-lg font-semibold text-teal-800">
                    <a [routerLink]="['/accueil/vie-emprunteur']" class="hover:underline">Nos garanties</a>
                  </h2>
                </div>
                <p class="text-sm text-gray-600">Protégez votre crédit et vos proches avec notre assurance emprunteur</p>
              </div>

              <!-- Ligne verticale -->
              <div class="border-r-2 border-gray-300 h-24"></div>

              <!-- Section Avantages -->
              <div class="flex-1 px-6">
                <div class="flex items-center gap-2 mb-3">
                  <!-- Icône d'avantages -->
                  <i class="fas fa-star w-5 h-5 text-teal-800"></i>
                  <h2 class="text-lg font-semibold text-teal-800">Avantages</h2>
                </div>
                <ul class="text-sm text-gray-600 list-disc pl-5">
                  <li>Couverture décès et invalidité</li>
                  <li>Tarifs compétitifs</li>
                  <li>Protection de vos proches</li>
                </ul>
              </div>

              <!-- Ligne verticale -->
              <div class="border-r-2 border-gray-300 h-24"></div>

              <!-- Section Devis - Améliorée et plus claire -->
              <div class="flex-1 pl-6">
                <div class="flex flex-col">
                  <div class="flex items-center gap-2 mb-3">
                    <!-- Icône de calculatrice -->
                    <i class="fas fa-calculator w-6 h-6 text-teal-800"></i>
                    <h2 class="text-lg font-semibold text-teal-800">Devis en ligne</h2>
                  </div>
                  <p class="text-sm text-gray-600 mb-3">Obtenez votre tarif personnalisé en 2 minutes</p>
                  <a
                  [routerLink]="['/accueil', 'devisvie']" class="bg-teal-600 hover:bg-teal-700 text-white font-medium px-4 py-2 rounded-md transition-colors inline-flex items-center justify-center">
                    <i class="fas fa-arrow-right mr-2"></i>
                    Obtenir un devis
                  </a>

                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
      <!-- Contact Info -->
      <div class="flex items-center space-x-6 mr-10 text-gray-500">
        <!-- Téléphone -->
        <div class="flex items-center space-x-2">
          <i class="fas fa-phone-alt text-teal-800"></i>
          <span class="text-sm text-gray-700">+216 25 206 488</span>
        </div>

        <!-- Email -->
        <div class="flex items-center space-x-2">
          <i class="fas fa-envelope text-teal-800"></i>
          <span class="text-sm text-gray-700">contact&#64;fleskcover.com</span>
        </div>
      </div>
    </div>
  </nav>

<section class="min-h-screen flex items-center justify-center p-4">
    <!-- Conteneur principal -->
    <div class="relative bg-white flex flex-col items-center rounded-2xl shadow-teal-100 shadow-lg max-w-4xl p-5 w-full h-auto md:h-[125vh]">

      <!-- Partie centrale : Logo et titre -->
      <div class="flex flex-col items-center mb-10 text-2xl font-semibold text-teal-800">
        <i class="fas fa-umbrella w-8 h-8 mr-1 text-teal-800"></i>
        <p>Flesk Cover</p>
        <h2 class="font-semibold text-xl text-gray-700 mt-2">Bienvenue chez Flesk Cover</h2>
        <p class="text-gray-500 text-sm text-center">Gérez vos contrats d'assurance auto et vie, constats et paiements en toute facilité</p>
      </div>

      <!-- Partie du formulaire -->
      <div class="w-full md:w-7/8 space-x-8 px-4 md:px-16">
        <form #registerForm="ngForm" (ngSubmit)="onSubmit()" class="space-y-5 mt-6">

          <!-- Nom et Prénom (côte à côte) -->
          <div class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-4">
            <div class="flex-1">
              <label for="nom" class="block mb-2 text-sm font-medium text-gray-700">Nom <span class="text-teal-800">*</span></label>
              <input type="text" name="nom" id="nom" [(ngModel)]="user.nom" #nom="ngModel" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-teal-800 focus:border-teal-800 block w-full p-2 hover:border-teal-600" placeholder="Entrez votre nom" required />
              <div class="text-red-500 text-sm mt-1" *ngIf="nom.touched && nom.invalid">
                <div *ngIf="nom.errors?.['required']">Le nom est requis.</div>
              </div>
            </div>
            <div class="flex-1">
              <label for="prenom" class="block mb-2 text-sm font-medium text-gray-700">Prénom <span class="text-teal-800">*</span></label>
              <input type="text" name="prenom" id="prenom" [(ngModel)]="user.prenom" #prenom="ngModel" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-teal-800 focus:border-teal-800 block w-full p-2 hover:border-teal-600" placeholder="Entrez votre prénom" required />
              <div class="text-red-500 text-sm mt-1" *ngIf="prenom.touched && prenom.invalid">
                <div *ngIf="prenom.errors?.['required']">Le prénom est requis.</div>
              </div>
            </div>
          </div>

          <!-- CIN et Langue (côte à côte) -->
          <div class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-4">
            <div class="flex-1">
              <label for="cin" class="block mb-2 text-sm font-medium text-gray-700">CIN <span class="text-teal-800">*</span></label>
              <input type="text" name="cin" id="cin" [(ngModel)]="user.Cin" #cin="ngModel" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-teal-800 focus:border-teal-800 block w-full p-2 hover:border-teal-600" placeholder="Entrez votre CIN" required />
              <div class="text-red-500 text-sm mt-1" *ngIf="cin.touched && cin.invalid">
                <div *ngIf="cin.errors?.['required']">Le CIN est requis.</div>
              </div>
            </div>

            <!-- Date de naissance -->
            <div class="flex-1">
              <label for="dateNaissance" class="block mb-2 text-sm font-medium text-gray-700">Date de naissance <span class="text-teal-800">*</span></label>
              <input type="date" name="dateNaissance" id="dateNaissance" [(ngModel)]="user.date_naissance" #dateNaissance="ngModel" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-teal-800 focus:border-teal-800 block w-full p-2 hover:border-teal-600" required />
              <div class="text-red-500 text-sm mt-1" *ngIf="dateNaissance.touched && dateNaissance.invalid">
                <div *ngIf="dateNaissance.errors?.['required']">La date de naissance est requise.</div>
              </div>
            </div>
          </div>

          <!-- Email et Téléphone (côte à côte) -->
          <div class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-4">
            <div class="flex-1">
              <label for="email" class="block mb-2 text-sm font-medium text-gray-700">Email <span class="text-teal-800">*</span></label>
              <input type="email" name="email" id="email" [(ngModel)]="user.email" #email="ngModel" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-teal-800 focus:border-teal-800 block w-full p-2 hover:border-teal-600" placeholder="Entrez votre email" required />
              <div class="text-red-500 text-sm mt-1" *ngIf="email.touched && email.invalid">
                <div *ngIf="email.errors?.['required']">L'email est requis.</div>
                <div *ngIf="email.errors?.['email']">L'email doit être valide.</div>
              </div>
            </div>
            <div class="flex-1">
              <label for="telephone" class="block mb-2 text-sm font-medium text-gray-700">Téléphone <span class="text-teal-800">*</span></label>
              <input type="text" name="telephone" id="telephone" [(ngModel)]="user.telephone" #telephone="ngModel" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-teal-800 focus:border-teal-800 block w-full p-2 hover:border-teal-600" placeholder="Entrez votre numéro de téléphone" required />
              <div class="text-red-500 text-sm mt-1" *ngIf="telephone.touched && telephone.invalid">
                <div *ngIf="telephone.errors?.['required']">Le numéro de téléphone est requis.</div>
              </div>
            </div>
          </div>

          <!-- Mot de passe et Confirmer mot de passe (côte à côte) -->
          <div class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-4">
            <div class="flex-1">
              <label for="password" class="block mb-2 text-sm font-medium text-gray-700">Mot de passe <span class="text-teal-800">*</span></label>
              <input type="password" name="password" id="password" [(ngModel)]="user.password" #password="ngModel" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-teal-800 focus:border-teal-800 block w-full p-2 hover:border-teal-600" placeholder="Au moins 8 caractères" required />
              <div class="text-red-500 text-sm mt-1" *ngIf="password.touched && password.invalid">
                <div *ngIf="password.errors?.['required']">Le mot de passe est requis.</div>
                <div *ngIf="password.errors?.['minlength']">Le mot de passe doit contenir au moins 8 caractères.</div>
              </div>
            </div>
            <div class="flex-1">
              <label for="confirmPassword" class="block mb-2 text-sm font-medium text-gray-700">Confirmer mot de passe <span class="text-teal-800">*</span></label>
              <input type="password" name="confirmPassword" id="confirmPassword" [(ngModel)]="confirmPassword" #confirmPasswordModel="ngModel" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-teal-800 focus:border-teal-800 block w-full p-2 hover:border-teal-600" placeholder="Confirmer le mot de passe" required />
              <div class="text-red-500 text-sm mt-1" *ngIf="confirmPasswordModel.touched && confirmPasswordModel.invalid">
                <div *ngIf="confirmPasswordModel.errors?.['required']">La confirmation du mot de passe est requise.</div>
                <div *ngIf="confirmPasswordModel.errors?.['match']">Les mots de passe ne correspondent pas.</div>
              </div>
            </div>
          </div>

          <!-- Adresse et Pays (côte à côte) -->
          <div class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-4">
            <div class="flex-1">
              <label for="adresse" class="block mb-2 text-sm font-medium text-gray-700">Rue <span class="text-teal-800">*</span></label>
              <input type="text" name="adresse" id="adresse" [(ngModel)]="user.adresse.rue" #adresse="ngModel" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-teal-800 focus:border-teal-800 block w-full p-2 hover:border-teal-600" placeholder="Entrez votre rue" required />
              <div class="text-red-500 text-sm mt-1" *ngIf="adresse.touched && adresse.invalid">
                <div *ngIf="adresse.errors?.['required']">L'adresse est requise.</div>
              </div>
            </div>
            <div class="flex-1">
              <label for="ville" class="block mb-2 text-sm font-medium text-gray-700">Ville <span class="text-teal-800">*</span></label>
    <input type="text" name="ville" id="ville" [(ngModel)]="user.adresse.ville" #ville="ngModel" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-teal-800 focus:border-teal-800 block w-full p-2 hover:border-teal-600" placeholder="Entrez votre ville" required />
    <div class="text-red-500 text-sm mt-1" *ngIf="ville.touched && ville.invalid">
      <div *ngIf="ville.errors?.['required']">La ville est requise.</div>
    </div>
            </div>
          </div>
          <div class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-4">
            <div class="flex-1">
              <label for="rue" class="block mb-2 text-sm font-medium text-gray-700">Pays <span class="text-teal-800">*</span></label>
              <input type="text" name="rue" id="rue" [(ngModel)]="user.adresse.pays" #rue="ngModel" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-teal-800 focus:border-teal-800 block w-full p-2 hover:border-teal-600" placeholder="Entrez votre rue" required />
              <div class="text-red-500 text-sm mt-1" *ngIf="rue.touched && rue.invalid">
                <div *ngIf="rue.errors?.['required']">Le pays est requise.</div>
              </div>
            </div>
            <div class="flex-1">
              <label for="code" class="block mb-2 text-sm font-medium text-gray-700">Code postal <span class="text-teal-800">*</span></label>
              <input type="text" name=" code" id="code" [(ngModel)]="user.adresse.codePostal" #code="ngModel" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-teal-800 focus:border-teal-800 block w-full p-2 hover:border-teal-600" placeholder="Entrez votre pays" required />
              <div class="text-red-500 text-sm mt-1" *ngIf="code.touched && code.invalid">
                <div *ngIf="code.errors?.['required']">Le code postal est requis.</div>
              </div>
            </div>
          </div>

          <!-- Remarque -->
          <div class="mt-4 text-sm text-gray-600">
            <p><span class="text-teal-800">*</span> Champs obligatoires</p>
          </div>

          <!-- Bouton -->
          <button type="submit" class="w-full py-2 px-4 bg-teal-800 text-white rounded-lg mt-5 hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-teal-800">
            S'inscrire
          </button>
          <p class="text-sm font-light text-gray-500 mt-4">
            Vous avez déjà un compte ? <a routerLink="/espace-client/login" class="font-medium text-teal-800 hover:underline">Se connecter</a>
          </p>
        </form>
      </div>
    </div>
  </section>
