.relative {
  position: relative;
}

.absolute {
  position: absolute;
}
canvas {
  width: 100%;
  height: auto;
  border: 2px solid #ccc;
}
/* constat-croquis.component.css */
.signature-container {
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 0.5rem;
  }
  
  canvas {
    touch-action: none;
  }
  
  /* Sur mobile, désactiver le défilement lors de la signature */
  @media (max-width: 640px) {
    body {
      overflow: hidden;
      position: fixed;
      width: 100%;
    }
    
  }